/* Viggo start */

#breed-grid {
  display: grid;
  gap: 10px;
  /* Gör alla kolumner lika breda */
  grid-template-columns: repeat(3, 1fr);

  padding: 10px;
}

.breed {
  background-color: #666;
  padding: 10px;
}

.breed-name {
  text-align: center;
}

/* Viggo slut */
