/* mohamad alsouki start */
/* redigeringar av viggo */
body {
  background: white;
  background-repeat: no-repeat;
  height: 100vh;
  width: 98vw;
  padding: 0;
  margin: 0;
}

#wrapper {
  height: calc(100% - 66px);
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  grid-template-rows: 80px 70px auto 30px;

  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}
header {
  display: grid;
  grid-area: header;
  background-color: #666;
  color: white;
  text-align: center;
}
nav {
  display: grid;
  grid-area: nav;
  color: #f2f2f2;
  font-size: 1.1em;
  font-family: cursive;
  font-weight: bold;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: grid;
  text-align: center;
  border: 4px outset #323232;
  border-radius: 10%;
  background: linear-gradient(brown, orange);
  height: 88%;
  line-height: 4em;
}
nav a {
  color: white;
  text-decoration: none;
}

a[href^="raser.html"] {
  color: blue;
}

header > h1 {
  font-size: 2.5em;
  font-family: Verdana, arial;
  text-align: center;
  margin: 0;
  line-height: 2;
}
footer {
  display: grid;
  grid-area: footer;
  background-color: #325971;
  color: #fafafa;
  text-align: center;
  line-height: 2;
}
main {
  display: grid;
  grid-area: content;
  background-color: white;
  padding: 10px;
  height: 100%;
}

.row-item {
  float: left;
  width: calc(33.33% - 40px);
  padding: 10px;
  margin: 10px;
  background-color: #aaa;
  height: calc(100% - 40px);
}

/* mohamad alsouki slut */
